<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <h5 class="col-md-3">
          {{ type | uppercase }}
        </h5>
        <div class="col-md-2 col-md-offset-7">
          <a class="btn btn-primary btn-xs" [routerLink]="['/products/type', type]">
            View All
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products | productFilter: type | slice: 0: 4">
          <a [routerLink]="['/products/detail', product.id]">
            <figure>
              <img class="img-responsive" [src]="product.path" alt="{{ product.name }}">
              <figcaption class="text-center text-info">{{ product.name}}</figcaption>
              <figcaption class="text-center priceTextColor"> {{ product.price | indianCurrency }}</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>