.navbar-brand {
  padding: 0;
}

.navbar-right {
  margin: 1% auto;
  font-size: 16px;
}

.navbar-brand img {
  max-width: 50%;
  margin: 1% 0;
}

@media only screen and (max-width: 600px) {
  .navbar-header {
    width: 70%;
  }

  .navbar-brand img {
    margin: 1% 0;
  }
}
