<div class="row">
  <div class="col-md-6" *ngFor="let product of products$ | async">
    <div class="card">
      <div class="row">
        <h5 class="text-center">{{ product.name }}</h5>
      </div>
      <div class="row">
        <a [routerLink]="['/products/detail', product.id]">
          <img [src]="product.path" class="img-responsive">
        </a>
      </div>
      <div class="row">
        <div class="col-md-12 text-center priceTextColor" style="color: #b12704">
          {{ product.price | indianCurrency }}
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="pager">
  <li class="previous" [class.disabled]="previousLinkDisabled()">
    <a *ngIf="!previousLinkDisabled()" [routerLink]="['/products/type', type]" [queryParams]="{page: pageNo - 1}">Previous</a>
    <a *ngIf="previousLinkDisabled()">Previous</a>
  </li>
  <li class="next" [class.disabled]="nextLinkDisabled()">
    <a *ngIf="!nextLinkDisabled()" [routerLink]="['/products/type', type]" [queryParams]="{page: pageNo + 1}">Next</a>
    <a *ngIf="nextLinkDisabled()">Next</a>
  </li>
</ul>