<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h4 class="col-md-12 text-danger">You may also like</h4>
    </div>

    <hr>

    <div class="col-md-4 divSuggestedProducts" *ngFor="let product of suggestedProducts | slice: 0 : 3">
      <a [routerLink]="['/products/detail/', product.id]">
        <figure>
          <img class="center-block" [src]="product.path">
          <figcaption class="text-center text-info">{{ product.name }}</figcaption>
          <figcaption class="text-center priceTextColor">{{ product.price | indianCurrency }}</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>